@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);

body {
	margin: 0px auto;
	max-width: 100%;
}

#title {
	font-family: 'Dosis', sans-serif;
	color: #201e1e;
	text-align: center;
  position: relative;
	margin-top: 60px;
	min-height: 100%;
	overflow: auto;
	padding-bottom: 50px;
}

#name {
	font-size: 400%;
	/*color: #6bdf81;*/
	color: #484649;
	margin-bottom:10px;
	margin-top: 0px;
	letter-spacing: 2px;
}

#aboutme {
	font-family: 'Dosis', sans-serif;
	font-size: 140%;
	color: #484649;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
	padding-top:10px
}

a {
	text-decoration: none;
}

i {
	color: #484649;
}

.fa:link, .fa:visited {
	color: #484649;
}

.text a:link, a:visited {
	/*color: #41ac92; */ /*base*/
	color: #484649;
}

.fa:hover {
	position: relative;
	top: -6px;
}

.text a:hover {
	color: white;
}
